<configuration debug="true">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${catalina.base}/logs/stats.log</file>
    <append>true</append>
    <encoder>
      <pattern>
        %d %-5level - %msg%n
     </pattern>
    </encoder>
  </appender>

  <logger name="edu.virginia" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
  </logger>

  <root level="WARN">
    <appender-ref ref="FILE" />
  </root>

</configuration>